# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
venv/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE settings
.idea/
*.iml
*.ipynb_checkpoints/
.vscode/

# Environments
.env
.venv
env/
venv/

# Compiled Python files
*.pyc
*.pyo

# macOS
.DS_Store

# Windows
Thumbs.db
